# Ignore everything
*

# But not these file types
!*.r
!*.R
!*.py
!*.sh
!*.ipynb

# And not directories (so git can traverse into them)
!*/

# And not .gitignore itself
!.gitignore

# Exclude specific folders
data/
results/
